.title {
  color: grey;
}
.input{
  margin-bottom: 15px;
}
.userWrapper{
  max-height: 150px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff;
    border: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(116, 135, 159, 0.45);
    border-radius: 30px;
    border: 3px solid #ffffff;
  }
}