
.sectionTaskRow{
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 300px;
  width: 100%;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  border: 1px solid grey;
}
.taskRow{
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  color: darkblue;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid grey;
  width: 100%;
  & p {
    margin-bottom: 0;
  }
  &:last-child {
    max-width: 300px;
  }
}
.actionsButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  font-weight: bold;
  color: darkblue;
  text-align: center;
  max-width: 300px;
  width: 100%;
  & button {
    max-width: 190px;
    width: 100%;
  }
}