
.sectionTaskRow{
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 300px;
  width: 100%;
  align-items: center;
  padding-left: 0;
  margin: 0 auto;
  border: 1px solid grey;
  border-bottom: none;
  justify-content: space-between;
  &:last-child {
    border-bottom: 1px solid grey;
  }
  @media (max-width: 1366px) {
    grid-template-columns: 90px 140px 150px 190px 145px 125px 257px;
    width: 1211px;
  }
}

.sectionTaskRowAdmin{
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  padding-left: 0;
  border: 1px solid grey;
  justify-content: space-between;
  border-bottom: none;
  margin: 0 auto;
  &:last-child {
    border-bottom: 1px solid grey;
  }
  @media (max-width: 1440px) {
    grid-template-columns: 100px 200px 200px 200px 200px 200px;
    width: 1211px;
  }
}
.taskRow{
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  color: darkblue;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid grey;
  padding-inline: 5px;
  width: 100%;
  & p {
    margin-bottom: 0;
  }
  &:last-child {
    max-width: 300px;
  }
  & textarea {
    height: 30px;
  }
}
.actionsButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  font-weight: bold;
  color: darkblue;
  text-align: center;
  max-width: 300px;
  width: 100%;
  & button {
    max-width: 190px;
    width: 100%;
  }
}