%grid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 300px;
  width: 100%;
  align-items: center;
  padding-left: 0;
}


.main{
  height: 100%;
  padding: 25px;
}
.section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  @media (max-width: 400px) {
    flex-direction: column;
  }
  @media (max-width: 781px) {
    flex-direction: column;
  }
}
.sectionButton{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  margin-bottom: 20px;
  @media (max-width: 400px) {
    flex-direction: column;
  }
  @media (max-width: 781px) {
    flex-direction: column;
  }
}
.sortText {
  font-weight: 500;
  font-size: 15px;
  color: #b2b2b2ad;
  padding: 5px;

}
.sortButton{
  border: none;
  padding: 10px;
  width: 150px;
}
.buttonAdd {
  border: none;
  padding: 10px;
}
.todoListContainer{
  overflow: auto;
  margin-bottom: 20px;
  text-align: center;
}
.todoListWrapper{
  margin-bottom: 20px;
  padding-inline: 48px;
  text-align: center;
}
.sectionWrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  max-width: 1500px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    max-width: initial;
    width: 1099px;
  }
}

.sectionWrapperAdmin{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  max-width: 1500px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    max-width: initial;
    width: 1390px;
  }
}
.ul {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  @media (max-width: 1440px) {
    grid-template-columns: 100px 200px 200px 200px 200px 200px;
  }
}
.ulAdmin {
  @extend %grid;
  margin-bottom: 0;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  @media (max-width: 1440px) {
    grid-template-columns: 100px 200px 200px 200px 200px 200px 300px;
  }
}
.titleRow{
  font-size: 15px;
  font-weight: bold;
  color: darkblue;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid grey;
  width: 100%;
  &:last-child {
    max-width: 300px;
    @media (max-width: 1440px) {
      border-right: none;
    }
  }
}
.options{
  font-size: 15px;
  font-weight: bold;
  color: darkblue;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  max-width: 300px;
  width: 100%;
}
.sectionTask{
  max-width: 1500px;
  width: 100%;
  margin: 0 auto 20px;
}
.pagesButton{
  display: inline-block;
  margin-inline: 8px;
  border: none;
}